@font-face {
    font-family: silka;
    src: url(./fonts/silka-regular-webfont.woff2);
}

:root {
    /* para que sea una variable necesito -- */
    /* colors */
    --color-primary: #012d26;
    --color-white: #ffff;
    --color-blue: #3948ff;
    --color-backgraund: #D8E6F2;
    --font-family-base: 'silka', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* Header */
.main-header {
    font-size: 1.4rem;
    font-family: var(--font-family-base);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Menu Desktop*/
.logo-haus {
    width: 124px;
    height: 23px;
    margin-right: 279px;
    margin-top: 14px;
    margin-left: 21px;
}

#botton-menu {
    display: none;
}

/* Dropdow explore properties*/

.dropbtn-explore,
.dropbtn-buy,
.dropbtn-invest {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 16px 10px;
    ;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-explore,
.dropdown-buy,
.dropdown-invest,
.dropdown-log-in {
    position: relative;
    display: inline-block;
}

.dropdown-explore-content,
.dropdown-buy-content,
.dropdown-invest-content,
.dropdown-log-in-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-explore-content,
.dropdown-buy-content,
.dropdown-invest-content {
    box-shadow: 0px 92px 16px 0px rgba(0, 0, 0, 0.2);
}


.dropdown-explore-content a {
    text-decoration: none;
}

.dropdown-explore-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-explore:hover .dropdown-explore-content {
    display: block;
    padding: 50px;
    left: -483px;
}

.dropdown-explore:hover .dropbtn-explore {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-primary);
}

.container-explore {
    width: 1478px;
}

.panel-dropdown-explore,
.panel-dropdown-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-explore,
.img-buy {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    max-width: 100%;
    height: auto;
}

.explore-text,
.buy-text {
    padding-left: 75px;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.title-explore-dw {
    width: 50%;
    padding-bottom: 2.4rem;
    font-size: 1.3rem;
    font-weight: 100;
}

.explore-text,
.buy-text p {
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.menu .dropdown-explore ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    align-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 2px 5px;
    font-size: 0.9rem;
}

.menu .dropdown-explore li {
    position: relative;
    font-weight: 400;
    padding: 1rem 0;
}

.menu .dropdown-explore li a {
    text-decoration: none;
    color: var(--color-primary);
}

.menu .dropdown-explore li a:hover {
    color: var(--color-blue);
    font-weight: 500;
}

.menu .dropdown-explore li span {
    background-color: rgb(0, 208, 175, 0.4);
    margin: 5px;
    border-radius: 5px;
    padding: 2.5px;
    font-size: 0.77rem;
}

/* End Dropdow explore properties*/
/* dropdown how to buy */

.dropdown-buy:hover .dropdown-buy-content {
    display: block;
    padding: 55px 117px;
    left: -696px;
}

.dropdown-buy:hover .dropbtn-buy {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-primary);
}

.container-buy {
    width: 1257px;
}

.title-buy-dw {
    width: 50%;
    padding-bottom: 2.4rem;
    font-size: 1.3rem;
    font-weight: 100;
}

.menu .dropdown-buy ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    justify-items: center;
    grid-template-columns: 370px 370px;
    grid-gap: 2px 5px;
    font-size: 0.9rem;
}

.menu .dropdown-buy li {
    position: relative;
    font-weight: 400;
    padding: 1rem 0;
}

.menu .dropdown-buy li a {
    text-decoration: none;
    color: var(--color-primary);
}

.menu .dropdown-buy li a:hover {
    color: var(--color-blue);
    font-weight: 500;
}

.menu .dropdown-buy li span {
    background-color: rgb(0, 208, 175, 0.4);
    margin: 5px;
    border-radius: 5px;
    padding: 2.5px;
    font-size: 0.77rem;
}

/* End dropdown how to buy */

/* dropdown invest */

.dropdown-invest:hover .dropdown-invest-content {
    display: block;
    padding: 55px 242px;
    left: -818px;
}

.dropdown-invest:hover .dropbtn-invest {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-primary);
}

.container-invest {
    width: 2589px;
}

.title-invest-dw {
    width: 25%;
    padding-bottom: 3%;
    padding-left: 5%;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
}

.container-cards-invest {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    align-content: center;
    grid-template-columns: 450px 450px;
    grid-gap: 2px 5px;
    font-size: 0.9rem;
}

.card-invest {
    position: relative;
    background-color: #D8E6F2;
    width: 89%;
    padding: 7%;
    border-radius: 10px;
}

.card-invest-img {
    position: absolute;
    top: -38px;
    left: 16px;
}

.title-card {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 25px;
}

.text-plus {
    padding-bottom: 30px;
}

.text-lz {
    padding-bottom: 30px;
}

.card-invest a {
    text-decoration: none;
    color: var(--color-blue);
}

.card-invest li {
    list-style: none;
    display: inline;
}

/* dropdown end invest */
/* dropdown log in */
.dropbtn-log-in {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 13px 31px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-log-in-content {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    width: 190px;
}

.dropdown-log-in a {
    text-decoration: none;
}

.dropdown-log-in a:hover {
    font-weight: bolder;
}

.dropdown-log-in:hover .dropdown-log-in-content {
    display: block;
    right: 3px;
    margin: 1px;
}

.dropdown-log-in:hover .dropbtn-log-in {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-primary);
}

.dropdown-log-in li {
    list-style: none;

}

.btn-in {
    margin: 10px;
    padding: 5px 41px;
    background-color: #D8E6F2;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    font-size: 1rem;
    width: 170px;
}

.btn-in a {
    color: var(--color-blue);
}

.btn-asr {
    background: none;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 170px;
    font-size: 1rem;
}

.img-btn-asr {
    margin: -5px 2px;
}

.btn-asr a {
    color: var(--color-primary);
}

/* End dropdown log in */
.btn-pg {
    padding: 8px;
    background-color: #D8E6F2;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    font-size: 1rem;
    width: 130px;
}

.btn-pg a {
    text-decoration: none;
    color: var(--color-blue);

}

.btn-pg a:hover {
    font-weight: bolder;
}

/* end Header */
/* section search-location */
.search-location {
    background-image: url(../resources/images/background-banner.jpg);
    height: 544px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    background-position-x: center;
    font-family: var(--font-family-base);
}

.search-location ul li {
    list-style: none;
}

.search-location .link-search {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 65px 95px;
}

.search-location .title-banner {
    font-size: 4rem;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.container-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1px 4px;
    background-color: var(--color-white);
    margin: 9px 140px;
    border-radius: 15px;
}

.search {
    padding: 20px 0px;
    width: 261px;
}

.search-place {
    border: none;
    width: 234px;
    font-size: 1rem;
}

/* dropdown type of property */
.dropbtn-type,
.dropbtn-room {
    color: var(--color-primary);
    background-color: var(--color-white);

    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.dropbtn-type {
    padding: 20px 70px 20px 58px;
}

.dropdown-type,
.dropdown-room {
    position: relative;
    display: inline-block;
}

.dropdown-type-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 254px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-type-content a {
    color: var(--color-primary);
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-type-content a:hover {
    background-color: var(--color-backgraund)
}

.dropdown-type:hover .dropdown-type-content {
    display: block;
}

.dropdown-type:hover .dropbtn-type {
    border: 1px solid var(--color-blue);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* dropdown room */
.dropbtn-room {
    padding: 20px 98px 20px 59px;
}

.dropdown-room-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 247px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-room:hover .dropdown-room-content {
    display: block;
}

.dropdown-room:hover .dropbtn-room {
    border: 1px solid var(--color-blue);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.counter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 23px;
    align-content: center;
    justify-content: space-around;
}

.btn-counter {
    margin: 1px;
    padding: 5px;
    border-radius: 68px;
    background-color: var(--color-white);
    border: 1px solid grey;
}

.btn-search {
    padding: 13px 57px;
    margin: 7px;
    background-color: var(--color-blue);
    border-radius: 10px;
    border: none;
    color: var(--color-white);
    font-weight: 600;
    cursor: pointer;
}

/* section end search-location */

/* section launches */
.text-launches,
.menu-slider-lauches {
    width: 60%;
}

.launches {
    display: flex;
    flex-direction: row;
    background-color: rgba(36, 52, 56, 58);
    margin: 25px 45px;
    border-radius: 25px;
}

.text-launches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-family-base);
    color: var(--color-white);
    padding: 45px;
}

.text-launches h2 {
    width: 167px;
    padding-bottom: 25px;
    font-size: 2.5rem;
}

.text-launches p {
    width: 332px;
    padding-bottom: 25px;
    font-size: 1.2rem;

}

.text-launches button {
    padding: 11px 26px;
    font-size: 1rem;
    background-color: var(--color-white);
    border: none;
    border-radius: 15px;
}

.text-launches a {
    color: var(--color-primary);
    text-decoration: none;

}

.text-launches button a:hover {
    color: var(--color-blue);

}

/* animation */
.container-luch-animation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 35px;
}

.container-luch-animation hr {
    width: 258px;
    height: 2px;
    color: black;
    background-color: black;

}

.container-one-lz {
    margin: 76px;
}

.card-descrip {
    font-size: 2.5rem;
    font-family: var(--font-family-title);
}


.card-descrip b {
    overflow: hidden;
    position: relative;
    height: 36vh;
    top: 51px;

}

.lunch-animation-title {
    font-size: 3rem;
    font-family: var(--font-family-title);
}

.lunch-animation-p {
    font-size: 1rem;
    width: 249px;
    margin: 10px;
    font-family: var(--font-family-base);
}

.card-descrip .innercard-descrip {
    display: inline-block;
    position: relative;
    /*animation*/
    animation: move 4s;
    /*animation-iteration-count*/
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /*animation-delay*/
    animation-delay: 1s;
}

.cards-container {
    display: flex;
    flex-direction: row;

    border-radius: 10px;

    padding: 10px 25px;
    margin-bottom: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slider-v-img-card {
    display: flex;
    margin: 10px;
}

.title-slider-v {
    font-size: 2rem;
    font-family: var(--font-family-title);

}

.text-slider-v {
    font-size: 1rem;
    color: var(--color-primary);
    font-family: var(--font-family-base);
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

/* slider menu slider launches and where live */

.menu-slider-lauches .no-scroll,
.where-live .no-scroll {
    overflow: hidden;
}

.menu-slider-lauches .card-slider,
.where-live .card-slider {
    margin: auto;
    width: 100%;
}

.menu-slider-lauches .card,
.where-live .card {
    display: flex;
    border: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: 0 30px 50px -25px rgba(0, 0, 0, 0.25);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color-white);
    font-family: var(--font-family-base);
}

/* menu slider launches */
.menu-slider-lauches .container {
    padding: 2em;
    min-height: 100vh;
    display: flex;
}

.menu-slider-lauches .slick-slide {
    padding: 2em 0.5em;
}

.where-live.place-slider .slick-slide {
    padding: 2em 0em;
}

.menu-slider-lauches .card {
    padding: 2em;
    height: 380px;
}

.menu-slider-lauches .card::before {
    background: linear-gradient(180deg, rgba(28, 41, 44, .74) 22.92%, rgba(28, 41, 44, 0) 76.04%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.menu-slider-lauches .card.one {
    background-image: url(https://lahaus.imgix.net/uploads/real_estate_attachment/picture/7727181/luna_etapa_2_apartamento_nuevos_en_venta_en_chia_con_gimnasio_cover_9caeda3ef34374a44088.jpg?auto=format,compress&q=90&w=580&fit=clip);
    background-size: 356px;
}

.menu-slider-lauches .card.two {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1303/2__1_.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 447px 299px;
}

.menu-slider-lauches .card.three {
    background-image: url(https://lahaus.imgix.net/uploads/real_estate_attachment/picture/7825275/yolo_apartamentos_en_venta_en_chico_norte_de_1_2_hab_cover_69087375c995c63c0b4f.jpg?auto=format,compress&q=90&w=580&fit=clip);
    background-size: 312px;
}

.menu-slider-lauches .card.four {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1104/be_102_53.jpg?auto=compress%2Cenhance%2Cformat&q=60);
}

.menu-slider-lauches .card.one-m {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/716/pte_inestable_-salon_de_fiestas__Grande_.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 356px;
}

.menu-slider-lauches .card.two-m {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/713/terrazzino_living_apartamentos_en_venta_en_loma_de_cumbres_de_1_2_hab_gallery_1e90d3df55bd1e1551fa.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 100% 54%;

}

.menu-slider-lauches .card.three-m {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1398/retirosalvaje.png?auto=compress%2Cenhance%2Cformat&q=60);
}

.menu-slider-lauches .card.four-m {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/714/solana_apartamento_nuevos_en_venta_en_amazonia_con_piscina_cover_e0f371cc86652c67b3ac_3_.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 100% 54%
}

.menu-slider-lauches .card.one-vc {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1299/PentHouse-2.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 100% 61%;
}

.menu-slider-lauches .card.two-vc {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1105/parques_de_pangola.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 100% 56%;

}

.menu-slider-lauches .card.three-vc {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/811/interior.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 100% 56%;
}

.menu-slider-lauches .card.four-vc {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/444/le_parc.jpg?auto=compress%2Cenhance%2Cformat&q=60);
}

.menu-slider-lauches .card.one-c {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/1365/ASD_211201_Inciti_Vive-Rio_General_Cam-Drone-2-Prev-1_Post.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 319px 235px;
}

.menu-slider-lauches .card.two-c {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/708/natura_city.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 356px;
}

.menu-slider-lauches .card.three-c {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/710/santa_marina.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 359px;
}

.menu-slider-lauches .card.four-c {
    background-image: url(https://lahaus.imgix.net/uploads/promoted_content/custom_card_attachment/picture/705/emerawa.jpg?auto=compress%2Cenhance%2Cformat&q=60);
    background-size: 359px;
}




.menu-slider-lauches .information-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-slider-lauches .card-category {

    font-size: 0.8em;
    font-weight: 600;
    padding: 0.2em 0.5em 0.25em;
    position: relative;
    bottom: 194px;
}

.menu-slider-lauches .card-category.available {
    color: rgba(62, 207, 175, 1);
}

.card-category.launch {
    color: #f8f08e
}

.menu-slider-lauches .card-title {
    position: relative;
    color: var(--color-white);
    bottom: 176px;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-slider-lauches .description-text {
    position: relative;
    color: var(--color-white);
    bottom: 162px;
}

.menu-slider-lauches .card-price {
    position: relative;
    bottom: 20px;
}

.menu-slider-lauches .card-price .card-price-text-title {

    font-weight: 500;
    color: var(--color-primary);
    position: relative;
    bottom: 17px;
}

.menu-slider-lauches .card-price .card-price-text-p {
    position: relative;
    bottom: 9px;
}

.menu-slider-lauches .card-price .card-price-text-a {
    text-decoration: none;
    color: var(--color-blue);
}

/* ______________________________________________________________ */
/* Style the tab */
.menu-slider-lauches .tab {
    overflow: hidden;
    color: #f8f08e;

    padding: 55px 17px 0px;
}

/* Style the buttons inside the tab */
.menu-slider-lauches .tab button {
    color: #f8f08e;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #f8f08e;
}

/* Change background color of buttons on hover */
.menu-slider-lauches .tab button:hover {
    font-weight: 600;
}

/* Create an active/current tablink class */
.menu-slider-lauches .tab button.active {
    font-weight: 600;
    border-bottom: 3px solid #f8f08e;
}

/* Style the tab content */
.menu-slider-lauches .tabcontent {
    display: none;
    padding: 6px 12px;

    border-top: none;
}

.menu-slider-lauches .MenuList li {
    border-left: 1px solid gray;
    padding: 20px 15px 20px 15px;
    flex: 1;
}

.menu-slider-lauches .MenuList li a {
    color: #fff;
}

.menu-slider-lauches .MenuList li:first-child {
    border-left: 0;
    border-bottom: 5px solid red;
}

.menu-slider-lauches .MenuList li:hover {
    border-bottom: 5px solid red;
    cursor: pointer;
}

.menu-slider-lauches .tabcontent {
    display: block;
}

/* end section  launches */
/* section animation  */



/* container How we make it possible */
section.it-possible {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-base);
}

section.it-possible.title-possible {
    margin: 20px;
    font-size: 1.9rem;
}

.cards-it-possible {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.card-possible {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 304px;
    margin: 25px;
}

.card-possible h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
}

.img-card-possible {
    margin: 12px;
}

.img-card-possible-r,
.img-card-possible-a {
    margin: 19px 5px;
}

.text-card-possible {
    text-align: center;
    font-family: var(--font-family-base);
}

.text-p {
    width: 269px;
    font-size: 0.9rem;
    color: var(--color-primary);
    margin: 5px;
}

/*container end  How we make it possible/*

/* container log  in la haus plus */
.login-plus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
    align-items: center;
    align-content: center;
    background-color: #f8f8f8;
    max-width: 1138px;
    height: 41px;
    margin: 34px 150px;
    cursor: pointer;
}

.title-login-plus {
    font-family: var(--font-family-base);

}

.title-login-plus span {
    color: var(--color-blue);
}

.btn-login-plus {
    padding: 15px 45px;
    background-color: var(--color-blue);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.btn-login-plus a {
    color: var(--color-white);
    text-decoration: none;
}

/* section where live */
/* Style the tab */
.where-live .tab {
    overflow: hidden;
    margin: 2% 34%;

}

/* Style the buttons inside the tab */
.where-live .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border: 1px solid #f8f08e;
    border-radius: 40px;

}

.where-live .tab .tablinkslive.one {
    margin-right: 20px;
}

/* Change background color of buttons on hover */
.where-live .tab button:hover {
    background-color: #f8f08e;
}

/* Create an active/current tablink class */
.where-live .tab button.active {
    background-color: #f8f08e;
}

/* Style the tab content */
.where-live .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.where-live .MenuList li {
    border-left: 1px solid gray;
    padding: 20px 15px 20px 15px;
    flex: 1;
}

.where-live .MenuList li a {
    color: #fff;
}

.where-live .MenuList li:first-child {
    border-left: 0;
    border-bottom: 5px solid red;
}

.where-live .MenuList li:hover {
    border-bottom: 5px solid red;
    cursor: pointer;
}

.where-live .tabcontent {
    display: block;
}

/* section cards properties*/
.where-live .title-live {
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: inherit;
    font-size: 2rem;
}

.where-live .card.place {
    padding: 0em;
    height: auto;

}

.where-live .container {
    padding: 2em;
    min-height: 50vh;
    display: flex;
}

.where-live .inner {
    flex-grow: 2;
    border: 5px solid var(--color-white);
    border-radius: 20px;
    font-family: var(--font-family-base);

}

.where-live .inner.p-one h3,
.inner.p-two h3,
.inner.p-three h3 {
    position: relative;
    top: 34px;
    color: var(--color-white);
    text-shadow: 0px 1px 1px black;

}

.where-live .grid-images {
    display: flex;
    flex-direction: row;
}

.where-live .grid-images>* {
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
    width: 23vw;
    height: 300px;
}

.where-live .box1 {
    display: flex;
    flex-direction: column;

}


.where-live .full {
    height: 277px;
    border-radius: 10px;

}

.where-live .full .title-full {
    position: relative;
    top: 20px;
    left: 37px;
    color: var(--color-white);
    text-shadow: 0px 1px 1px black;
    text-align: start;
}

.where-live .full .text-full {
    position: relative;
    top: 20px;
    right: 65px;
    color: var(--color-white);
    text-shadow: 0px 1px 1px black;
    text-align: inherit;
}

.where-live .inner .title-inner {
    position: relative;
    top: 18px;
    left: 43px;
    color: var(--color-white);
    margin: 2px;
    text-align: start;
    text-shadow: 0px 1px 1px black;
}

.where-live .inner .text-inner {
    position: relative;
    top: 22px;
    left: 45px;
    color: var(--color-white);
    text-shadow: 0px 1px 1px black;
    text-align: start;
}

.where-live .inner.p-one {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/proyectos.jpg?auto=compress,enhance,format&q=60);

}

.where-live .inner.p-two {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/apartamentos.jpg?auto=compress,enhance,format&q=60);
}

.where-live .inner.p-three {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/casas.jpg?auto=compress,enhance,format&q=60);
}

.where-live .full-sthree {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_carolina.jpg?auto=compress,enhance,format&amp;q=60);
}

.where-live .full.s-one {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/mde_poblado.jpg?auto=compress,enhance,format&amp;q=60);
    background-size: cover;
}

.where-live .inner.s-two-one {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_barbara.jpg?auto=compress,enhance,format&amp;q=60);
}

.where-live .inner.s-two-two {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_cedritos.jpg?auto=compress,enhance,format&amp;q=60);
}

.where-live .inner.s-three-one {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_chia.jpg?auto=compress,enhance,format&amp;q=60);
    background-position: right;
    background-size: cover;
}

.where-live .inner.s-three-two {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_usaquen.jpg?auto=compress,enhance,format&amp;q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.where-live .inner.final {
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/location-links-images/bog_colina.jpg?auto=compress,enhance,format&amp;q=60);
}

/* End section where live */

/* slider investment  */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    font-size: 1rem;
    padding: 112px 119px 36px 177px;
    text-align: center;
    font-family: var(--font-family-base);

}

.img-investment {
    position: relative;
    padding-bottom: 21px;
}

.img-investment.forbes {
    left: 443px;
    padding: 9px 10px;
}

.img-investment.bloomberg {
    left: 349px;
    padding: 9px 10px 10px;

}

.img-investment.crunch {
    left: 435px;
    padding: 9px 10px 10px;

}

.img-investment.crunch img {
    width: 158px;
}

.img-investment.spring {
    left: 373px;
    padding: 9px 10px 10px;
}

.img-investment.lr {
    left: 422px;
    padding: 9px 10px 10px;
}

.img-investment.lr img {
    width: 158px;
}

.prev,
.next,
.where-live .slick-prev,
.where-live .slick-next {
    cursor: pointer;
    position: absolute;
    top: 128px;
    width: 4.8rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    color: #5b6866;
    height: 4.8rem;
}

.prev,
.where-live .slick-prev {
    padding: 21px;
    border-radius: 50%;
    z-index: 1;
}

.where-live .slick-next::before,
.where-live .slick-prev::before {
    content: '';
}

.next,
.where-live .slick-next {
    padding: 19px 31px;
    right: 0;
    border-radius: 50%;
}


.prev:hover,
.next:hover {
    border: 1px solid var(--color-blue);
    border-radius: 58px;
}

.btn-radio {
    text-align: center
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--color-blue);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* end slider investment  */
/* container builders */
.builders {
    background-color: #2574d7;
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/bk-allies-banner.png?auto=compress%2Cformat&q=60);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}


.title-builders {
    color: var(--color-white);
    font-size: 2rem;
    font-family: var(--font-family-base);
    padding: 40px;

}

.text-builders {
    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--font-family-base);
    position: relative;
    bottom: 41px;
    left: 38px;
}

.btn-buiders {
    background-color: #f8f08e;
    position: relative;
    bottom: 15px;
    left: 38px;
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-buiders a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1rem;
}

/* End container builders */
/* container tools and help */
.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family-base);
}

.tools h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.tools .text-one {
    font-size: 1.3rem;
    color: var(--color-primary);
}

.cards-tools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 1168px;
}

.card-tools {
    width: 248px;
    height: 374px;
    margin: 1rem;
    font-weight: bolder;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 12px;
    padding: 1rem;
    overflow: hidden;

}

.card-tools.one {
    background-color: #2574d7;
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/rooftop_1.png?auto=compress,enhance,format&q=50);
    background-attachment: unset;
    background-position: inherit;
    background-repeat: no-repeat;
}

.card-tools.two {
    background-color: #00d1b0;
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/calculator.png?auto=compress,enhance,format&q=50);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-tools.three {
    background-color: #ffe7b6;
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/hansjorg-keller-hwTZ7_NUSZ8-unsplash_1.png?auto=compress,enhance,format&q=50);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: inherit;
}

.card-tools.four {
    background-color: #c0c7ff;
    background-image: url(https://lahaus.imgix.net/static/lh-landing-v2/pintura_1.png?auto=compress,enhance,format&q=50);
    background-repeat: no-repeat;
    background-position: bottom;
}

.title-tools {
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    top: 23px;
    padding: 0 2rem;
}

.title-tools.two {
    width: 276px;
    right: 27px;
}

.card-transform {
    position: relative;
    top: 328px;
    transition: top 0.2s;

}

.card-tools:hover .card-transform {
    top: 75px;

}

/* End container tools and help */
/* Container best search  */
.best-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-best {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    margin-left: 140px;
}

.text-best h1 {
    width: 347px;
    text-align: end;
}

.text-best p {
    width: 299px;
    text-align: end;
    margin-bottom: 34px;
}

.btn-best {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-g {
    margin-right: 15px;
}

.btn-g,
.btn-a {
    border: none;
    background-color: var(--color-white);

}


/* content read more */
.content-read-more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    max-width: 1440px;
    padding: 6% 7% 5% 8%;
}


.content-read-more ul {
    list-style: none;
    font-size: 0.9rem;
}

.title-read-more {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-primary);
}

.content-read-more a {
    text-decoration: none;
    color: #5b6866;
}

.content-read-more a:hover {
    border-bottom: 1px solid var(--color-primary);
}


.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
    content: 'Mostrar mas';
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Mostrar menos';
}

.read-more-trigger,
.read-more-trigger-two {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
    color: blue;
    font-size: 1rem;
    line-height: 2;

}

/* footer */


footer {
    display: flex;
    flex-direction: column;
    padding: 3% 7%;
    background-color: #00d1b0;
    font-family: var(--font-family-base);
}

.logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    border-bottom: 1px solid black;
    ;
}

.footer-img {
    margin-bottom: 8%;
}

.logo-footer a {
    text-decoration: none;
    color: var(--color-primary);
}

.citys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4%;
}

.title-city {
    font-weight: 600;
    padding-bottom: 11%;
    font-size: 1rem;
}

.text-city {
    color: var(--color-primary);
    padding-bottom: 11%;
    font-size: 0.9rem;
}

.citys a {
    text-decoration: none;
    color: var(--color-primary);
}

.social-links .fa-2x {
    padding: 2%;
    color: var(--color-primary);
}

.copy-r {
    display: flex;
    flex-direction: row;

}

.copy-r .border-li {
    border-right: 1px solid var(--color-primary);
    padding-right: 4px;
}

.copy-r a {
    text-decoration: none;
    color: var(--color-primary);
}

.endeavor {
    padding: 1%;
}

/* Menu*/
/* Menu Mobile */
.icono-menu {
    padding-top: 30px;
}

header label {
    display: none;
    width: 100px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    font-weight: 500px;
}

@media (max-width:990px) {


    .search-location .title-banner {
        font-size: 2rem;
    }

    .dropdown-explore:hover .dropdown-explore-content {
        left: -607px;
    }

    .title-explore-dw {
        width: 35%;
    }

    .explore-text p,
    .buy-text p {
        width: 32%;
    }

    .menu .dropdown-explore ul,
    .menu .dropdown-buy ul,
    .cards-it-possible {
        display: flex;
        flex-direction: column;
    }

    .explore-text {
        padding-left: 267px;
    }

    .buy-text {
        padding-left: 199px;
    }
    .dropdown-buy:hover .dropdown-buy-content {
        left: 752px;
    }

    .btn-pg {
        margin: 10px;
    }

    .dropdown-invest:hover .dropdown-invest-content {
        left: -233px;
    }

    .container-cards-invest {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .title-invest-dw {
        width: 12%;
        padding-left: 2%;
    }

    .card-invest {
        width: 22%;
        padding: 3%;
        margin: 3%;
    }

    .panel-dropdown-explore,
    .panel-dropdown-buy,
    .container-search .cards-it-possible,
    .best-search,
    .container-luch-animation {
        flex-direction: column;
    }

    .container-search {
        margin: 23px;
    }

    .launches,
    .login-plus,
    .container-one-lz {
        margin: 0px;
    }

    .search-location {
        height: 115vh;
    }

    .search-location .link-search {
        flex-wrap: nowrap;
        margin: 2px;
    }

    .dropdown-type,
    .dropdown-room {
        position: relative;
        display: block;
    }

    .launches {
        display: block;
    }

    .text-launches,
    .menu-slider-lauches {
        width: 100%;
    }

    /* launch animation */
    .card-descrip b {
        top: 0;
    }

    section.it-possible,
    .container-luch-animation {
        height: 750px;
    }

    .login-plus {
        justify-content: center;
        height: 500px;

    }

    section.login-plus>* {
        margin: 3% 2%;
        text-align: center;
    }

    .img-best-file {
        width: 100%;
    }

    .text-best {
        margin-left: 0px;
    }

    .where-live .grid-images>* {
        width: 84vw;
    }

    .img-investment {
        left: 0px !important;
        padding: 0px !important;
    }

    .img-investment>img {
        max-width: 50% !important;
        margin-left: 38%;
    }

    .img-investment.bloomberg>img,
    .img-investment.spring>img {
        margin-left: 26%;
    }

    .img-investment.crunch>img {
        margin-left: 29%;
    }

    .img-investment.lr img {
        width: 80px;
    }

    .text {
        padding: 107px 68px;
    }

    .logo-footer,
    .citys,
    .copy-r {
        flex-direction: column;
    }

    .copy-r>* {
        margin: 3% 2%;
    }

    .copy-r .border-li {
        border-right: none;

    }

}