@font-face {
    font-family: silka;
    src: url(./fonts/silka-regular-webfont.woff2);
}

:root {
    /* para que sea una variable necesito -- */
    /* colors */
    --color-primary: #012d26;
    --color-white: #ffff;
    --color-blue: #3948ff;
    --font-family-base: 'silka', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* Header */
.main-header {
    font-size: 1.4rem;
    font-family: var(--font-family-base);
}

/* Menu*/
/* Menu Mobile */
.icono-menu {
    padding-top: 30px;
}

header label {
    display: none;
    width: 100px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    /* Cursor pasa a ser manita  */
    font-weight: 500px;
}

/* Menu Desktop*/
.logo-haus {
    width: 124px;
    height: 23px;
}

#botton-menu {
    display: none;
}

.dropbtn {
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-explore {
    position: relative;
    display: inline-block;
}

.dropdown-explore-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 84px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 5%;
    
}

.dropdown-explore-content a {
    text-decoration: none;
}

.dropdown-explore-content a:hover {
    background-color: #f1f1f1
}

.dropdown-explore:hover .dropdown-explore-content {
    display: block;
    padding: 60px;
    left:-128px;
}

.dropdown-explore:hover .dropbtn {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-primary);
}
.container-explore{
    width: 108%;
}
.panel-dropdown-explore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-explore{
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    max-width: 100%;
    height: auto;
}
.explore-text{
   
    padding-left: 75px;
    
}
.title-explore-dw{
    width:50%;
    padding-bottom: 2.4rem;
    font-size: 1.3rem;
    font-weight: 100;
    
}
.explore-text p{
    font-weight: 800;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}


.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    align-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 2px 5px;
    font-size: 0.9rem;
}

.menu li {
    position: relative;
    font-weight: 400;
    padding: 1rem 0;
}

.menu li a {
    text-decoration: none;
    color: var(--color-primary);
}

.menu li a:hover {
    color: var(--color-blue);
    font-weight: 500;
}

.menu li span {
    background-color: rgb(0, 208, 175, 0.4);
    margin: 5px;
    border-radius: 5px;
    padding: 2.5px;
    font-size: 0.77rem;
}



/* end header */

/* 
interno explore


.panel-dropdown-explore{
    display: flex;
    flex-direction: row;
    flex-wrap:no-wrap;
    
}




.explore-img{
width: 100%;
}
.title-explore-dw{
    font-size: 1.3rem;
    font-weight: 100;
}
.explore-text{
    padding-top: 0.875rem;
    padding-bottom: 2.4rem;
    width: 825px;
}


.dropdown-content a {
    padding: 16px 16px;
    text-decoration: none;
    display: block;
   
}


.dropdown-content a:hover{
    background-color: salmon;
}

.dropdown:hover .dropbtn{
   
    text-decoration:none;
}
.cities-links{
    display: grid;
   
     grid-gap: 10px;
    color: #012d26;
    font-size: 1.4rem;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-out;
    user-select: none;
    letter-spacing: .02rem;}

    

@media (max-width:920px) {

    header label{
        display: block;
        height: 75px;
    }

    .menu {
        position: absolute;
      
        width: 100%;
        margin-left: -100%;
        transition:all 0.5s;
        z-index: 100;
    }

    #boton-menu:checked ~ .menu {
        margin: 0;

    }

    .menu ul{
        display: block;
    }

    .menu li:hover{
        background-color: #000000;
    }

    .dropbtn{
        background-color: salmon;
        color: white;
    }
    
    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 16px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover{
        color: salmon;
      
    }

    .dropdown:hover .dropbtn {
        color: salmon;
       
    }


}
@media (max-width:920px) {

    header label{
        display: block;
        height: 75px;
    }

    .menu {
        position: absolute;
        background-color: salmon;
        width: 100%;
        margin-left: -100%;
        transition:all 0.5s;
        z-index: 100;
    }

    #boton-menu:checked ~ .menu {

        margin: 0;

    }

    .menu ul{
        display: block;
    }

    .menu li:hover{
        background-color: #000000;
    }

    .dropbtn{
        background-color: salmon;
        color: white;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
    }

    .dropdown-content a:hover{
        color: salmon;
        background-color: #000000;
    }

    .dropdown:hover .dropbtn {
        color: salmon;
        background-color: #000000;
    }


}
 */
